[Unit]
Description=Lightweight notification daemon for Wayland
Documentation=https://mako-project.org
PartOf=graphical-session-pre.target

[Service]
Type=dbus
BusName=org.freedesktop.Notifications
ExecStart=/usr/bin/mako
