[Unit]
Description=Shut down the screens when idle
Documentation=man:swayidle(1)
StopWhenUnneeded=true
PartOf=graphical-session.target
After=graphical-session.target
Requisite=graphical-session.target

[Service]
Type=simple
ExecStart=/usr/bin/swayidle \
	timeout 30 'swaymsg "output * dpms off"' \
	timeout 30 'niri msg action power-off-monitors' \
	resume 'swaymsg "output * dpms on"'
Slice=session.slice

# Not meant to be used directly, but as a dependency of swaylock.service
