// Open messengers with 2/3rds by default to make them usable
window-rule {
	match app-id=r#"^org\.signal\.Signal$"#
	match app-id=r#"^im\.riot\.Riot$"#
	match app-id=r#"^Threema$"#

	default-column-width { proportion 0.66667; }
}
